/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 876px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}

.navigation {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	margin: 0 auto;
	width: 876px;
  
}
.navigation .logo {
	padding-left: 250px;
	
}
.navigation a {
	color: gray;
	text-decoration: none;
	margin: 0 10px;
}

.header {
	position: relative;
	display: inline-block;
	width: 876px;
	height: 500px;
	margin: 0 auto;
	margin-left: 280px;
}

.header h1 {
	position: absolute;
	padding-top: 100px;
	font-size: 83px;
	text-align: center;
	left: 175px;
}

.header button {
	background-color: white;
    border: 1px solid black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	position: absolute;
	left: 266px;
	bottom: 101px;
}

.header img {
	position: absolute;
	top: 50px;
	right: -130px;
	/* padding-left: 620px;
	padding-bottom: 10px; */
}

hr {
	width: 876px;
	margin-top: 20px;
}

.top-content {
	width: 876px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
}

.top-left {
	width: 50%;
	position: absolute;
}

.top-right {
	width: 50%;
	margin-left: 438px;
	padding-left: 5px;
	position: absolute;
}

.mid-content {
	width: 876px;
	margin: 20px auto;
	position: relative;
}

.bottom-content {
	width: 876px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 60px
}

.bottom-left {
	width: 33%;
	position: absolute;
}

.bottom-mid {
	width: 33%;
	margin-left: 292px;
	position: absolute;
}

.bottom-right {
	width: 33%;
	margin-left: 584px;
	position: absolute;
}

.contact {
	width: 876px;
	height: 200px;
	margin: 0 auto;
	position: relative;
}

.contact-left {
	position: absolute;
}

.copyright {
	width: 876px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}

.copyright p {
	position: absolute;
	margin-left: 336px;
}